body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8f5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9f7ed;
}

.login-box {
  background: rgba(255, 255, 255, 0.8); /* Blanc avec 80% d'opacité */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  opacity: 0.9;
}
.login-box h1 {
  margin-bottom: 20px;
  color: #4caf50;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}

.btn:hover {
  background-color: #45a049;
}

.message {
  margin-top: 10px;
  color: red;
}
